$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background-color: #232323;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
hr {
  color: black;
}
/* Main marketing message and sign up button */
.jumbotron {
    background: url("../images/leffenloffen.png") no-repeat center center; 
    background-size: 100% 100%;
    padding-top: none;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
    background-color: #8E7870;
  }
}
.btn {
      background-color: #232323;
      color: #E8E7E6;
}
.btn:focus{
  background-color: #ECA73B;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    color:#F2F0EF;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
li:hover, li:focus{
  background-color: grey;
}
#menu{
  margin-top: 6px;
  margin-right: 10px;
}
 ul[rn-carousel] > li {

        position: relative !important;
        display: inline-block !important;
        white-space: none;
    }
    .layer{
        position:absolute !important;
    }

.navbar {
  margin-bottom: 0;
  
}
.col-centered{
    float: none;
    margin: 0 auto;
}