<div id="karuselli">
	<h3>{{teatteriName}}</h3>

<ul rn-carousel rn-carousel-buffered class="my-slider">
	<div rn-carousel-indicators ng-if="eventsArray.length > 1" slides="eventsArray" rn-carousel-index="carouselIndex">
	</div>
	        <li ng-repeat="movie in eventsArray">

	        	<div class="row">
	        		<div class="col-xs-4">
			        	<img src="{{movie.Images.EventSmallImagePortrait}}" width="100%">
			        </div>
			        <div class="col-xs-8">	
			        	<h3>{{movie.Title}}</h3>
			        	<img src="{{movie.RatingImageUrl}}" width="30px">
			        	<p><strong>Julkaistu:</strong> {{movie.ProductionYear}}</p>
			        	<p><strong>Genre:</strong> {{movie.Genres}}</p>
			        	<p><strong>Kesto:</strong> {{movie.LengthInMinutes}} min</p>
			        </div>
	        	</div>
	        	<div class="row">
		        	<div class="col-xs-12">
		        		<hr>
			        	<p><strong>Ohjaaja:</strong> {{movie.Directors.Director.FirstName}} {{movie.Directors.Director.LastName}}</p>
			        	<hr>
			        	<p id="actors"><strong>Pääosissa:</strong> <span ng-repeat="actor in movie.Cast.Actor">{{actor.FirstName}} {{actor.LastName}}, </span></p>
			        	<hr>
		            	<p>{{movie.ShortSynopsis}}</p>
		            	<a href={{movie.EventURL}}>Tästä FinnKinon sivulle</a>
		        		<br><br>
		        		<img src="{{movie.Images.EventLargeImageLandscape}}" width="100%">
		        	</div>
		        </div>
	        </li>
</ul>
</div>