<div id="jumbo" class="jumbotron">
	<br><br><br><br><br><br>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-centered" style="text-align: left">
			<p>LeffenLoffen-sovelluksen avulla voit tarkastaa tämän päivän elokuvatarjonnan kätevästi puhelimella/älylaitteellasi</p>
			<hr>
			<h3>Ohje</h3>
			<h4>Valitse teatteri:</h4>
			<p>Valitse haluamasi teatteri listasta ja paina hae, jos näkyviin tulee vain teatterin nimi/kaupunki, paina hetken päästä uudestaan Hae-nappia</p>
			<h4>Hae sijainnilla:</h4>
			<p>Sovellus käyttää tarkkaa mutta valikoivaa paikannusta. Paina "paikanna sijantini" nappia ja sitte "hae", jos näkyviin tulee vain teatterin nimi/kaupunki, paina hetken päästä uudestaan Hae-nappia</p>
			<hr>
			<p>Sovellus käyttää Finnkinon XML apia datan haussa joten palvelu näyttää vain Finnkinossa pyörivät pätkät.
			</p>
			<br>
		</div>
	</div>
</div>